# Local micro-directories
.terraform/

# Distributed-state lock files
.terraform.lock.hcl

# Local state files (Contains secrets! Never commit these.)
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Exclude all variable files (They often contain passwords/tokens)
*.tfvars
*.tfvars.json
# Allow infracost.tfvars to be committed
!infracost.tfvars
!terraform.tfvars.example.tfvars

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration credentials
.terraformrc
terraform.rc

# OS clutter and common IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# Ignore package-lock.json if using npm, as it can cause issues with Terraform's dependency management
package-lock.json

builds/

*.deb
